html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Noto Sans", "Poppins", sans-serif;
  scroll-behavior: smooth;
  line-height: 1.2;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: block !important;
  opacity: 1;
}

.cursor-disabled {
  cursor: default !important;

  &:hover {
    text-shadow: none !important;
    color: #fff !important;
  }
}

a {
  color: inherit;
}

.fw-400 {
  font-weight: 400 !important;
}
.text-default {
  color: #fff !important;
  &:hover {
    text-shadow: none !important;
    color: #fff !important;
  }
}
.cursor-disabled {
  cursor: default !important;
}