$text-color: #fff;
$text-color-hover: #ccc;
$text-color-dark: #000;
$text-color-dark-light: #333;
$gray-color: #e5e5e5;
$gray-color-dark: #333;
$gray-color-light: #9e9e9e;
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}