.slick {
  &-slider {
    &:hover>.slick-prev,
    &:hover>.slick-next {
      display: block;
      opacity: 0.4;
    }
  }

  &-dotted.slick-slider {
    margin-bottom: 0;
  }

  &-dots {
    bottom: 10px;

    li {
      margin: 0;

      &.slick-active {
        button {
          &:before {
            color: #ee4d2d;
          }
        }
      }

      button {
        &:hover {
          opacity: 0.4;
        }

        &:before {
          color: #fff;
          opacity: 0.4;
          font-size: 14px;
          padding: 0;

        }
      }
    }
  }

  &-next,
  &-prev {
    background: #000;
    height: 60px;
    width: 35px;
    opacity: 0;
    z-index: 50;
    display: none;
    animation: linear 0.3s;

    &:hover {
      background-color: #000;
    }

    &:before {
      font-family: serif;
    }
  }

  &-next {
    right: 0;

    &:before {
      content: '>';
      font-size: 35px;
    }
  }

  &-prev {
    left: 0;

    &:before {
      content: '<';
      font-size: 35px;
    }
  }
}
@keyframes linear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}