.banner
  .banner-main
    .banner-main-left
      .banner-main-slideshow
        +bannerSlideShowItem('#', '../../assets/images/banner/banner-main-1.png')
        +bannerSlideShowItem('#', '../../assets/images/banner/banner-main-1.png')
        +bannerSlideShowItem('#', '../../assets/images/banner/banner-main-1.png')
        +bannerSlideShowItem('#', '../../assets/images/banner/banner-main-1.png')
    .banner-main-right
      .banner-main-right-top
        img.banner-main-right-img(src="../../assets/images/banner/banner1.png", alt="")
      .banner-main-right-left
        img.banner-main-right-img(src="../../assets/images/banner/banner2.png", alt="")
  .banner-list
      +bannerListItem('#', 'https://cf.shopee.vn/file/46a2a2c810622f314d78455da5e5d926_xhdpi', 'Khung giờ săn sale')
      +bannerListItem('#', 'https://cf.shopee.vn/file/b3535d7e56c58c4ebe9a87672d38cc5e_xhdpi', 'Gì cũng rẻ - mua là free ship')
      +bannerListItem('#', 'https://cf.shopee.vn/file/c7a2e1ae720f9704f92f72c9ef1a494a_xhdpi', 'miễn phí vận chuyển')
      +bannerListItem('#', 'https://cf.shopee.vn/file/b15de7d7368673a82583a88333ed23e7_xhdpi', 'bắt trend - giá sốc')
      +bannerListItem('#', 'https://cf.shopee.vn/file/21a4856d1fecd4eda143748661315dba_xhdpi', 'hoàn xu 6% - lên đến 200K')
      +bannerListItem('#', 'https://cf.shopee.vn/file/8d6d5ee795e7675fed39d31ba04c3b92_xhdpi', 'Hàng hiệu giá tốt')
      +bannerListItem('#', 'https://cf.shopee.vn/file/a08ab28962514a626195ef0415411585_xhdpi', 'Hàng quốc tế')
      +bannerListItem('#', 'https://cf.shopee.vn/file/9df57ba80ca225e67c08a8a0d8cc7b85_xhdpi', 'nạp thẻ, hoá đơn & phim')
      +bannerListItem('#', 'https://cf.shopee.vn/file/96385a65fa50800e096bb790fa5c1dba_xhdpi', 'Deal sốc từ 1k')
      +bannerListItem('#', 'https://cf.shopee.vn/file/ed849a82e8c66bbff8ec0f2869c6fbb7_xhdpi', 'Chọn 6 số trúng tiền triệu')