.banner
  .container
    .banner-main
      .banner-main-left
        .banner-main-slideshow
          +bannerSlideShowItem('#', '../../assets/images/banner/banner-main-1.png')
          +bannerSlideShowItem('#', '../../assets/images/banner/banner-main-1.png')
          +bannerSlideShowItem('#', '../../assets/images/banner/banner-main-1.png')
          +bannerSlideShowItem('#', '../../assets/images/banner/banner-main-1.png')
      .banner-main-right
        .banner-main-right-top
          img.banner-main-right-img(src="../../assets/images/banner/banner1.png", alt="")
        .banner-main-right-left
          img.banner-main-right-img(src="../../assets/images/banner/banner2.png", alt="")