.category
  h2.category-title DANH MỤC
  ul.category-list.category-list-slideshow
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn', 'Thời trang nam')
      +categoryItem('#!', 'https://cf.shopee.vn/file/75ea42f9eca124e9cb3cde744c060e4d_tn', 'Thời trang nữ')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/31234a27876fb89cd522d7e3db1ba5ca_tn', 'Điện thoại & Phụ kiện')
      +categoryItem('#!', 'https://cf.shopee.vn/file/099edde1ab31df35bc255912bab54a5e_tn', 'Mẹ & Bé')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/978b9e4cb61c611aaaf58664fae133c5_tn', 'thiết bị điện tử')
      +categoryItem('#!', 'https://cf.shopee.vn/file/24b194a695ea59d384768b7b471d563f_tn', 'Nhà cửa & Đời sống')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/c3f3edfaa9f6dafc4825b77d8449999d_tn', 'Máy tính & Laptop')
      +categoryItem('#!', 'https://cf.shopee.vn/file/ef1f336ecc6f97b790d5aae9916dcb72_tn', 'Làm đẹp')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/ec14dd4fc238e676e43be2a911414d4d_tn', 'Máy ảnh & Quay phim')
      +categoryItem('#!', 'https://cf.shopee.vn/file/49119e891a44fa135f5f6f5fd4cfc747_tn', 'Sức khoẻ')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/86c294aae72ca1db5f541790f7796260_tn', 'Đồng hồ')
      +categoryItem('#!', 'https://cf.shopee.vn/file/48630b7c76a7b62bc070c9e227097847_tn', 'giày dép nữ')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/fa6ada2555e8e51f369718bbc92ccc52_tn', 'Giày dép nam')
      +categoryItem('#!', 'https://cf.shopee.vn/file/fa6ada2555e8e51f369718bbc92ccc52_tn', 'Túi ví nữ')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/7abfbfee3c4844652b4a8245e473d857_tn', 'Thiết bị điện gia dụng')
      +categoryItem('#!', 'https://cf.shopee.vn/file/8e71245b9659ea72c1b4e737be5cf42e_tn', 'Phụ Kiện & trang sức nữ')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/6cb7e633f8b63757463b676bd19a50e4_tn', 'Thể thao & Du lịch')
      +categoryItem('#!', 'https://cf.shopee.vn/file/c432168ee788f903f1ea024487f2c889_tn', 'Bách hóa online')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/3fb459e3449905545701b418e8220334_tn', 'Ô Tô & Xe Máy & Xe Đạp')
      +categoryItem('#!', 'https://cf.shopee.vn/file/36013311815c55d303b0e6c62d6a8139_tn', 'Nhà Sách Online')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/18fd9d878ad946db2f1bf4e33760c86f_tn', 'Balo & Túi Ví Nam')
      +categoryItem('#!', 'https://cf.shopee.vn/file/4540f87aa3cbe99db739f9e8dd2cdaf0_tn', 'Thời Trang Trẻ Em')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/ce8f8abc726cafff671d0e5311caa684_tn', 'Đồ Chơi')
      +categoryItem('#!', 'https://cf.shopee.vn/file/cd8e0d2e6c14c4904058ae20821d0763_tn', 'Giặt Giũ & Chăm Sóc Nhà Cửa')
    li.category-item
      +categoryItem('#!', 'https://cf.shopee.vn/file/cdf21b1bf4bfff257efe29054ecea1ec_tn', 'Chăm Sóc Thú Cưng')
      +categoryItem('#!', 'https://cf.shopee.vn/file/b0f78c3136d2d78d49af71dd1c3f38c1_tn', 'Voucher & Dịch Vụ')
