*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Noto Sans", "Poppins", sans-serif;
  scroll-behavior: smooth;
  line-height: 1.2;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: block !important;
  opacity: 1;
}

.cursor-disabled {
  cursor: default !important;
}
.cursor-disabled:hover {
  text-shadow: none !important;
  color: #fff !important;
}

a {
  color: inherit;
}

.fw-400 {
  font-weight: 400 !important;
}

.text-default {
  color: #fff !important;
}
.text-default:hover {
  text-shadow: none !important;
  color: #fff !important;
}

.cursor-disabled {
  cursor: default !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  height: 120px;
  background-image: linear-gradient(180deg, #f5402d 0%, #ff6533 100%);
}
.header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}
.header-nav-qrcode {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header-nav-qrcode-app {
  background-color: transparent;
  display: none;
  position: absolute;
  top: 0px;
  left: -5px;
  width: 180px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
.header-nav-qrcode-content {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header-nav-qrcode-content-img {
  width: 100%;
  height: 100%;
  margin-top: 25px;
  border-radius: 4px;
}
.header-nav-qrcode-content-download {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10px 10px 10px;
}
.header-nav-qrcode-content-download-img {
  height: 17px;
}
.header-nav-qrcode:hover > .header-nav-qrcode-app {
  display: block !important;
  opacity: 1 !important;
}
.header-nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 34px;
  gap: 15px;
  position: relative;
}
.header-nav-item {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-nav-item-icon {
  color: #fff;
  font-size: 18px;
  transition: all 0.3 ease-in-out;
}
.header-nav-item-text {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.header-nav-item:hover .header-nav-item-text, .header-nav-item:hover .header-nav-item-icon {
  color: #ccc;
}
.header-nav-item:first-child {
  margin-left: 0;
}
.header-nav-item:last-child {
  margin-right: 0;
}
.header-nav-item.nav-divided + .nav-divided::before {
  position: absolute;
  content: "";
  left: -8px;
  height: 14px;
  width: 2px;
  background-color: #fff;
  opacity: 0.5;
}
.header-nav-notification:hover > .header-nav-notify {
  display: block !important;
  opacity: 1 !important;
}
.header-nav-notify {
  position: absolute;
  top: 100%;
  right: 0;
  width: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 100;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}
.header-nav-notify:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 35px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: rotate(45deg);
}
.header-nav-notify-top {
  background-color: #fff;
  height: 40px;
  width: 100%;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 4px 4px 0 0;
}
.header-nav-notify-bottom {
  background-color: #fff;
  height: 40px;
  width: 100%;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-radius: 0 0 4px 4px;
}
.header-nav-notify-bottom-link {
  color: #333;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.header-nav-notify-bottom:hover {
  background-color: #f8f8f8;
}
.header-nav-notify-list {
  display: flex;
  flex-direction: column;
}
.header-nav-notify-list-item {
  background-color: #fff0ee;
  padding: 10px;
}
.header-nav-notify-list-item:hover {
  background-color: #f8f8f8;
}
.header-nav-notify-list-item-link {
  text-decoration: none;
}
.header-nav-notify-list-item-content {
  display: flex;
  gap: 5px;
}
.header-nav-notify-list-item-content-img {
  min-width: 40px;
}
.header-nav-notify-list-item-content-img img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.header-nav-notify-list-item-content-text {
  font-size: 14px;
  font-weight: 300;
  color: #333;
}
.header-nav-notify-list-item-content-text-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header-nav-notify-list-item-content-text-desc {
  font-size: 12px;
  font-weight: 300;
  color: #9e9e9e;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.header-nav-language {
  position: relative;
}
.header-nav-language:hover > .header-nav-language-content {
  display: block !important;
  opacity: 1 !important;
}
.header-nav-language-content {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 100;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}
.header-nav-language-content:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 35px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: rotate(45deg);
}
.header-nav-language-list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-color: transparent;
}
.header-nav-language-item {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  list-style-type: none;
  transition: all 0.3s ease-in-out;
}
.header-nav-language-item:hover {
  color: #f5402d;
}
.header-nav-user {
  position: relative;
}
.header-nav-user:hover > .header-nav-user-content {
  display: block !important;
  opacity: 1 !important;
}
.header-nav-user-icon {
  background-color: #f8f8f8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  overflow: hidden;
}
.header-nav-user-icon i {
  font-size: 29px;
  color: #ccc !important;
}
.header-nav-user-content {
  position: absolute;
  top: 100%;
  right: 0;
  width: 165px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 100;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}
.header-nav-user-content:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 35px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: rotate(45deg);
}
.header-nav-user-list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-color: transparent;
}
.header-nav-user-list-item {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  list-style-type: none;
  transition: all 0.3s ease-in-out;
}
.header-nav-user-list-item-link {
  text-decoration: none;
}
.header-nav-user-list-item-text {
  font-size: 14px;
  color: #000;
}
.header-nav-user-list-item:hover .header-nav-user-list-item-text {
  color: #00bfa5;
}
.header-main {
  display: flex;
  margin: auto 0;
  padding: 16px 0 10px;
  height: 85px;
  width: 100%;
}
.header-main-logo {
  padding-right: 40px;
}
.header-main-logo-svg {
  fill: #fff;
  width: 162px;
  height: 50px;
}
.header-main-search {
  width: 100%;
  max-width: 840px;
}
.header-main-search-searchbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 2px;
  height: 40px;
  width: 100%;
}
.header-main-search-searchbar-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: initial;
  padding: 0 10px;
  font-size: 14px;
}
.header-main-search-searchbar-input:focus {
  outline: 2px solid #000;
}
.header-main-search-searchbar-button {
  background-color: #ff6533;
  outline: none;
  border: none;
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main-search-searchbar-button:hover {
  background-color: rgba(255, 102, 51, 0.8666666667);
}
.header-main-search-searchbar-button-icon {
  color: #fff;
  width: 14px;
  margin: 0 8px;
}
.header-main-search-searchbar:focus {
  border: 1px solid #fff;
}
.header-main-search-recommend-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 15px;
  margin: 5px 0;
}
.header-main-search-recommend-item {
  color: #fff;
}
.header-main-search-recommend-item-link {
  font-size: 12px;
  margin: 5px 0 13px;
  color: #fff;
  text-decoration: none;
}
.header-main-search-recommend-item-link:hover {
  color: #ccc;
}
.header-main-shoppingcart {
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main-shoppingcart-icon {
  position: relative;
}
.header-main-shoppingcart-icon-svg {
  fill: #fff;
  width: 26px;
  height: 26px;
  color: #fff;
  stroke: #fff;
  margin: 0 8px;
  position: relative;
}
.header-main-shoppingcart-count {
  position: absolute;
  height: 20px;
  width: 25px;
  top: -8px;
  right: -5px;
  background-color: #fff;
  color: #ff6533;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main-shoppingcart-count span {
  line-height: 0;
}

/*# sourceMappingURL=app.css.map */
